# Bài 1: Hoàn thành notebook sau

### Bước  1. Import thư viện cần thiết

In [3]:
import pandas as pd

### Bước 2. Đọc dữ data từ url, sau đó gán cho tên biến là dataframe

In [155]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, error_bad_lines=False, sep='\t')
df['item_price'] = df['item_price'].str.replace('\$','')
df['item_price'] = df['item_price'].astype(float)

### Bước 3. In 10 dòng đầu tiên

In [156]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Bước 4. Có bao nhiêu row?

In [144]:
row, column = df.shape
row

4622

### Bước 5. Có bao nhiêu column trong dataset này đó là những column nào?

In [157]:
df.columns, column

(Index(['order_id', 'quantity', 'item_name', 'choice_description',
        'item_price'],
       dtype='object'),
 5)

Bước 6.Mặt hàng nào được bán chạy nhất?

In [158]:
theBest = df.groupby('item_name').sum()
print(max(theBest['quantity']))
theBest[theBest['quantity']==max(theBest['quantity'])].index

761

Index(['Chicken Bowl'], dtype='object', name='item_name')

### Bước 7. Có tổng cộng bao nhiêu mặt hàng được bán?

In [159]:
len(df['item_name'].unique())

50

### Bước 8. Có bao nhiêu sản phẩm có giá trị lớn hơn $10,00

In [174]:
highPrice = df[df['item_price']>10]
print(len(highPrice['item_price'].unique()))

35

### Bước 9: Xem kiểu dữ liệu của mỗi cột

In [161]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Bước 10: Tổng lợi nhuận thu được

In [177]:
revenue = df['quantity'] * df['item_price']
print(sum(revenue))

39237.020000000055